.headerFont {
    font-family: Cookie, cursive;
    font-weight: 400;
    font-Size: 50px;
}

.textOffset {
    padding-left: 10px;
}

.outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.outputHeader {
    margin-top: -10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.inputError {
    color: red;
    font-size: 24px;
    font-weight: 600;
    padding-top: 5px;
}

.tabsButton {
    bottom: 45px;
    right: 24px;
}