.headerFont {
    font-family: Cookie, cursive;
    font-weight: 400;
    font-Size: 50px;
}

.textOffset {
    padding-left: 10px;
}

.headerOutput {
    text-align: center;
    margin-top: -10px;
}

.inputError {
    color: red;
    font-size: 24px;
    font-weight: 600;
    padding-top: 5px;
}

.tabsButton {
    bottom: 45px;
    right: 24px;
}